<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title th:replace="fragments/fragment :: headerFragment('Add Pegawai')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<!-- <script src="/js/dropdown.js"></script> -->
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
			<h2>Tambah Pegawai</h2>
			<form th:action="@{/pegawai/tambah}" id="pegawaiForm" th:object=${pegawai} method="POST">
				<table>
					<tr>
						<td>Nama</td>
						<td><input type="text" name="nama" class="form-control" th:value="*{nama}"/></td>
					</tr>
					<tr>
						<td>Tempat Lahir</td>
						<td><input type="text" name="tempat_lahir" class="form-control" th:value="*{tempat_lahir}"/></td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td><input type="date" name="tanggal_lahir" class="form-control" th:value="${tanggalLahir}"/></td>
					</tr>
					<tr>
						<td>Tahun Masuk</td>
						<td><input type="number" name="tahun_masuk" class="form-control" th:value="*{tahun_masuk}"/></td>
					</tr>
					<tr>
		                <td>Provinsi</td>
		                <td>
		                	
		                    <select  class="form-control" required="required" 
						       name="provinsi" id="provinsi">
						      <option disabled="disabled" selected="selected" > -- 
						      Pilih Provinsi --
						      </option>
						      <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" 
						       th:text="${provinsi.nama}" >
						      </option>
						    </select>
		                </td>
		            </tr>
		            <tr>
		                <td>Nama Instansi</td>
		                <td>
		                    <select  class="form-control" required="required" 
						       name="instansi.id" id="instansi">
						      <option disabled="disabled" selected="selected" > -- 
						      Pilih Instansi --
						      </option>
						      <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" 
						       th:text="${instansi.nama}" >
						      </option>
						    </select>
		                </td>
		            </tr>
		            <tr>
		            	<td>Jabatan</td>
		            	<td>
		            		<div class="form-group" th:each="jabatanP, rowStat : *{jabatan}">
								<select class="form-control" th:field="*{jabatan[__${rowStat.index}__].jabatan}">
									<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}" ></option>
								</select>
								<!-- <select name="jabatan" id="jabatan" form="pegawaiForm">
									<option th:each="jabatan : ${listJabatan}" th:field="*{jabatan[__${rowStat.index}__].jabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</select> -->
								
								<button type="submit" name="removeRow" 
		                					th:value="${rowStat.index}" class="btn btn-danger btn-sm">Hapus</button>
							</div>
		            	</td>
		            	<!-- <td th:each="jabatanPegawai, statusJabatan : *{jabatan}">
		            		<select class="form-control" required="required" th:field="*{jabatan[__${statusJabatan.index}__].jabatan}">
							    <option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}">-- 
						      Pilih Jabatan --</option>
							</select>
		            	</td> -->
		            </tr>
		            <tr>
			            <td></td>
			            <td><button type="submit" name="addJabatan">Tambah Jabatan</button></td>
		            </tr>
<!--  		            <tr>
		            	<td>Jabatan</td>
		            	<td></td>
		            </tr> -->
		            <tr>
		                <td><button type="submit" name="save" class="btn btn-primary">Tambah</button><td>
		            </tr>
				</table>
				<!-- <input type="text" name="nama" class="form-control"/>
				<input type="text" name="tempat_lahir" class="form-control"/>
				<input type="text" name="tanggal_lahir" class="form-control"/>
				<input type="text" name="tahun_masuk" class="form-control"/> -->
				
				<!-- <input type="text" name="provinsi" class="form-control"/>
				<input type="text" name="instansi" class="form-control"/>
				<input type="text" name="jabatan" class="form-control"/> -->
				<!-- <button type="submit" class="btn btn-primary">Tambah</button> -->
			</form>
		</div>
	</body>
	<script th:inline="javascript">
		 $('#provinsi').change(
			        function() {
			        	console.log("masuk 1")
			            $.getJSON("/instansi", {
			                provinsiId : $(this).val(),
			                ajax : 'true'
			            }, function(data) {
			            	console.log("masuk 2")
			                var html = '<option disabled="disabled" selected="selected">--Pilih Instansi--</option>';
			                var len = data.length;
			                for ( var i = 0; i < len; i++) {
			                    html += '<option value="' + data[i].id + '">'
			                            + data[i].nama + '</option>';
			                }
			                html += '</option>';
			                $('#instansi').html(html);
			            });
			        });
	</script>
</html>