<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment('View Pegawai')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
		
		<h1>Detail Jabatan</h1>
		<table>
			<tr>
				<td>Nama</td>
				<td th:text="${jabatan.nama}"></td>
			</tr>
			<tr>
				<td>Deskripsi</td>
				<td th:text="${jabatan.deskripsi}"></td>
			</tr>
			<tr>
				<td>Gaji Pokok</td>
				<td th:text="'Rp '+${jabatan.gaji_pokok}"></td>
			</tr>
			<tr>
				<td>Jumlah Pegawai</td>
				<td th:text="${jumlahPegawai}"></td>
			</tr>
		</table>
		
		<table>
			<tr>
				<td>
					<form th:action="@{'/jabatan/ubah'}" method="GET">
						<input type="hidden" th:value="${jabatan.id}" name="jabatanId" />
						<button value="submit" class="btn btn-primary">Ubah</button>
					</form>
				</td>
				<td>
					<form th:action="@{'/jabatan/hapus'}" method="POST">
						<input type="hidden" th:value="${jabatan.id}" name="jabatanId" />
						<button value="submit" class="btn btn-primary">Hapus</button>
					</form>
				</td>
			</tr>
		</table>
		
		

	</body>
</html>